.button {
    background-color: transparent;
    cursor: pointer;
}

.info-primary {
    border: none;
    outline: none;
    font-family: var(--font-subtitles);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: normal;
    color: var(--color-blue-two);
}

.primary {
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    color: var(--color-white);
    background-color: var(--color-blue-three);
    border: none;
    border-radius: 3px;
    font-family: var(--font-subtitles);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 0.2rem 1.6rem;
}