.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    background-color: var(--color-white);
    text-transform: uppercase;
    color: var(--color-gray);
    font-size: 1rem;
}

.navbar__navigation {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.navbar__logo{
    font-size: 2rem;
    font-weight: bold;
    color: #0290ff;
}

.navbar__container{
    display: flex;
    gap: 4rem;
}